
%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%btn-style {
  background-color: $color-primary;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}